*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.5); }

a {
  text-decoration: none; }

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.8rem;
  font-weight: 400; }
  @media (max-width: 600px) {
    body {
      font-size: 1.4rem; } }

h1, h2, h3,
h4, h5, h6 {
  color: #00609D;
  text-align: center; }

a {
  color: #004673; }

p {
  text-align: justify; }

.p-title {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(57, 56, 79, 0.6); }
  @media (max-width: 900px) {
    .p-title {
      padding: 1.6rem;
      padding: 1rem; } }

.heading-primary {
  padding: 5rem 0;
  font-size: 5rem; }

.heading-secondary {
  color: #fff; }

.heading-tertiary {
  font-size: 4rem; }
  .heading-tertiary--light {
    color: #fff; }
  @media (max-width: 900px) {
    .heading-tertiary {
      padding: 1rem;
      font-size: 3.2rem; } }

.heading-quaternary {
  font-size: 2.3rem;
  font-weight: 300;
  text-align: left; }
  .heading-quaternary--bold {
    font-weight: 700;
    text-align: center; }
  .heading-quaternary--light {
    color: #fff; }

.heading-category {
  text-align: left;
  font-weight: 300;
  text-transform: capitalize; }

.container {
  width: 75%;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .container {
      width: 100%; } }

.container-big {
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .container-big {
      width: 100%; } }

.flex {
  display: flex; }

.center {
  text-align: center; }

.align-right {
  text-align: right; }

.gradient {
  background-image: linear-gradient(to bottom, #fff 0%, #fff 70%, #00609D 100%); }

.u-margin-top-big {
  margin-top: 6rem; }

.u-margin-top-normal {
  margin-top: 2.4rem; }

.u-margin-top-small {
  margin-top: 1.8rem; }

.u-margin-top-xsmall {
  margin-top: 1.2rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-normal {
  margin-bottom: 2.4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.8rem; }

.u-margin-bottom-xsmall {
  margin-bottom: 1.2rem; }

.u-padding-bottom-normal {
  padding-bottom: 2.4rem; }

.u-padding-bottom-big {
  padding-bottom: 6rem; }

.u-padding-top-big {
  padding-top: 5rem; }

.footer {
  background-color: rgba(239, 242, 254, 0.6);
  height: 25vh;
  position: relative; }
  .footer__link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .footer__link a {
      color: #000;
      transition: all .4s;
      margin: 0 5rem; }
      .footer__link a:hover {
        color: #4AABE8; }
  .footer__copyright {
    font-size: 1.4rem;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    color: #000;
    letter-spacing: .6rem; }
    @media (max-width: 900px) {
      .footer__copyright {
        letter-spacing: normal; } }

.header {
  background-color: #EFF2FE;
  position: relative; }
  .header .nav__menu {
    list-style: none;
    justify-content: space-between; }
    .header .nav__menu--item {
      background: #EFF2FE;
      width: 22%;
      padding: 1rem 0;
      border-radius: 3px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.8);
      cursor: pointer;
      transition: all .4s; }
      .header .nav__menu--item:hover {
        background-color: rgba(74, 171, 232, 0.1);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(255, 255, 255, 0.5);
        transform: scale(1.05) translateY(-0.5rem); }
      .header .nav__menu--item a {
        padding: 1rem 20%; }
        @media (max-width: 900px) {
          .header .nav__menu--item a {
            padding: 1rem 0; } }
  .header__box {
    position: relative;
    height: 35vh;
    background-color: #004673; }
    .header__box h2 {
      padding-top: 10rem; }
  .header__button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(255, 255, 255, 0.2);
    width: 25rem;
    height: 15%;
    text-align: center;
    padding: 1.2rem;
    border-radius: 3px;
    transition: all .4s; }
    .header__button a {
      font-weight: 500; }
    .header__button:hover {
      background-color: #fff;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.1);
      transform: scale(1.05) translateX(-48%) translateY(-0.5rem); }
  .header__check {
    position: absolute;
    right: 1%;
    top: 1%; }

.checkbox__toggle {
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  border: 1px solid #4AABE8;
  background: #004673;
  border-radius: 50rem;
  position: relative;
  cursor: pointer;
  transition: all .5s ease; }
  .checkbox__toggle::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50rem;
    background-color: #fff;
    transition: all .5s ease; }

#checkbox {
  visibility: hidden;
  height: 0;
  width: 0; }

#checkbox:checked ~ .checkbox__toggle {
  background-color: #fff;
  transition: all .5s ease; }

#checkbox:checked ~ .checkbox__toggle::after {
  left: calc(100% -.5rem);
  transform: translateX(-3rem);
  background-color: #004673;
  transition: all .5s ease; }

.accueil__card {
  margin: 4rem;
  padding: 2rem;
  border-radius: 50rem;
  background-color: rgba(227, 230, 236, 0.4);
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
  justify-content: space-evenly;
  align-items: center; }
  @media (max-width: 900px) {
    .accueil__card {
      margin: 3rem 1rem; } }
  .accueil__card--img {
    background-color: #fff;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    box-shadow: inset 9px 5px 12px rgba(0, 0, 0, 0.2), inset -8px -9px 6px rgba(255, 255, 255, 0.6);
    position: relative; }
    .accueil__card--img img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50%; }
  .accueil__card--text {
    display: block;
    width: 80%;
    color: #00609D; }
    @media (max-width: 900px) {
      .accueil__card--text {
        margin-left: 1rem; } }

.avantage {
  color: #00609D; }
  .avantage__content--box {
    justify-content: space-around;
    width: 100%; }
    @media (max-width: 900px) {
      .avantage__content--box {
        display: block; } }
  .avantage__content--item {
    border-radius: 3px;
    background-color: rgba(239, 242, 254, 0.8);
    padding: 6rem;
    width: 37%;
    outline: none;
    border: none;
    position: relative;
    box-shadow: 4px 3px 1.2rem rgba(0, 0, 0, 0.15), inset 4px 3px 1.4rem rgba(255, 255, 255, 0.6);
    transition: all .4s;
    margin-bottom: 8rem; }
    @media (max-width: 1200px) {
      .avantage__content--item {
        width: 45%; } }
    @media (max-width: 900px) {
      .avantage__content--item {
        width: 90%;
        margin: 2rem auto; } }
    .avantage__content--item p {
      line-height: 2.8rem; }
    .avantage__content--item:hover {
      background-color: rgba(239, 242, 254, 0.6);
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 4px 3px 1.2rem rgba(74, 171, 232, 0.15), inset 4px 3px 1.4rem rgba(255, 255, 255, 0.6); }
    .avantage__content--item:before {
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border: 1px solid transparent;
      bottom: 0;
      left: 0; }
    .avantage__content--item:hover:before {
      width: 100%;
      height: 100%;
      border: 1px solid rgba(74, 171, 232, 0.3);
      border-right: none;
      border-bottom: none;
      transition: height .5s linear, width .5s linear .5s; }
    .avantage__content--item:after {
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border: 1px solid transparent;
      top: 0;
      right: 0; }
    .avantage__content--item:hover:after {
      width: 100%;
      height: 100%;
      border: 1px solid rgba(74, 171, 232, 0.3);
      border-left: none;
      border-top: none;
      transition: height .5s linear, width .5s linear .5s; }

.blog__categorie {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  font-weight: 500;
  font-size: 2.3rem; }
  @media (max-width: 900px) {
    .blog__categorie {
      width: 100%;
      font-size: 2rem; } }
  .blog__categorie--item {
    padding: 1rem 2rem;
    border-radius: 3px;
    transition: all .5s; }
    @media (max-width: 900px) {
      .blog__categorie--item {
        padding: .5rem 1rem; } }
    .blog__categorie--item a {
      padding: 1rem 2rem; }
      @media (max-width: 900px) {
        .blog__categorie--item a {
          padding: .5rem 1rem; } }
    .blog__categorie--item:hover {
      background-color: rgba(239, 242, 254, 0.6);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 4px rgba(255, 255, 255, 0.6); }

.blog__article {
  width: 100%;
  height: 35vh;
  justify-content: space-between; }
  .blog__article ul {
    list-style: none; }
  .blog__article--thumb {
    width: 30%;
    position: relative; }
    .blog__article--thumb img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      height: 75%;
      transition: all .4s; }
      .blog__article--thumb img:hover {
        box-shadow: 2px 2px 8px rgba(74, 171, 232, 0.8), -2px -2px 8px rgba(74, 171, 232, 0.8); }
  .blog__article--item {
    width: 65%;
    padding: 4rem;
    position: relative; }

.blog__text {
  color: #00609D;
  width: 90%;
  height: 90%;
  padding: 7rem 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(227, 230, 236, 0.4);
  box-shadow: 3px 3px 1.2rem rgba(0, 0, 0, 0.2); }
  .blog__text a {
    transition: all .4s; }
    .blog__text a:hover {
      color: #4AABE8; }

.demo__banner {
  width: 100%;
  height: 25vh;
  background-color: #00609D; }
  .demo__banner h3 {
    padding-top: 9rem; }

.documentation {
  background-color: #00609D;
  padding: 8rem 5rem;
  color: rgba(255, 255, 255, 0.7); }
  .documentation__list ol {
    margin-left: 5rem; }
  .documentation__list a {
    color: #fff;
    font-size: 2rem;
    transition: all .4s; }
    .documentation__list a:hover {
      color: #4AABE8; }
  .documentation strong {
    color: #fff; }

.main {
  padding: 8rem 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(74, 171, 232, 0.2); }

.presentation {
  color: #00609D; }
  .presentation__box {
    justify-content: space-between; }
    @media (max-width: 900px) {
      .presentation__box {
        display: block; } }
  .presentation__profil {
    width: 20%;
    position: relative; }
    @media (max-width: 900px) {
      .presentation__profil {
        margin-bottom: 1rem;
        height: 25vh;
        margin-left: auto;
        margin-right: auto; } }
    .presentation__profil--container {
      width: 18rem;
      height: 18rem;
      background-color: rgba(239, 242, 254, 0.8);
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: inset 12px 7px 18px rgba(0, 0, 0, 0.2), inset -8px -9px 6px rgba(255, 255, 255, 0.6); }
      @media (max-width: 600px) {
        .presentation__profil--container {
          width: 12rem;
          height: 12rem; } }
      .presentation__profil--container img {
        width: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
  .presentation__content {
    width: 66%;
    margin: 1rem 4rem;
    padding: 5rem;
    background-color: rgba(227, 230, 236, 0.4);
    box-shadow: 3px 3px 1.2rem rgba(0, 0, 0, 0.2); }
    @media (max-width: 900px) {
      .presentation__content {
        width: 90%;
        margin: 1rem auto;
        padding: 2.5rem; } }

.single-page__info {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: space-evenly;
  color: #4AABE8;
  font-size: 1.3rem; }
  @media (max-width: 900px) {
    .single-page__info {
      width: 80%; } }

.single-page__excerpt p {
  font-size: 2rem;
  font-weight: 500;
  color: #004673;
  text-align: center; }
  @media (max-width: 900px) {
    .single-page__excerpt p {
      font-size: 1.6rem;
      padding: 1rem; } }

.single-page__img {
  width: 100%; }
  .single-page__img img {
    width: 60%;
    height: auto; }

.single-page__content {
  color: #00609D; }
  .single-page__content p {
    padding-bottom: 2.5rem; }
    @media (max-width: 900px) {
      .single-page__content p {
        padding: 0 1.5rem 1.5rem; } }

.single-categorie__list a {
  font-size: 2rem;
  transition: all .4s; }
  .single-categorie__list a:hover {
    color: #4AABE8; }

.dark {
  background: #004673;
  color: #fff;
  transition: all 1s; }

.header[data-theme='dark'] {
  background: #004673;
  color: #fff;
  transition: all 1s; }

.header[data-theme='light'] {
  background: #EFF2FE;
  color: #004673;
  transition: all 1s; }
