*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.5); }

a {
  text-decoration: none; }

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.8rem;
  font-weight: 400; }

h1, h2, h3,
h4, h5, h6 {
  color: #00609D;
  text-align: center; }

a {
  color: #004673; }

p {
  text-align: justify; }

.heading-primary {
  padding: 5rem 0;
  font-size: 5rem; }

.heading-secondary {
  color: #fff; }

.container {
  width: 60%;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .container {
      width: 100%; } }

.container-normal {
  width: 75%;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .container-normal {
      width: 100%; } }

.container-big {
  width: 90%;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .container-big {
      width: 100%; } }

.flex {
  display: flex; }

.center {
  text-align: center; }

.align-right {
  text-align: right; }

.gradient {
  background-image: linear-gradient(to bottom, #fff 0%, #fff 70%, #00609D 100%); }

.u-margin-top-big {
  margin-top: 6rem; }

.u-margin-top-normal {
  margin-top: 2.4rem; }

.u-margin-top-small {
  margin-top: 1.8rem; }

.u-margin-top-xsmall {
  margin-top: 1.2rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-normal {
  margin-bottom: 2.4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.8rem; }

.u-margin-bottom-xsmall {
  margin-bottom: 1.2rem; }

.u-padding-bottom-normal {
  padding-bottom: 2.4rem; }

.u-padding-bottom-big {
  padding-bottom: 6rem; }

.footer {
  background-color: #fff;
  height: 25vh;
  position: relative; }
  .footer__link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .footer__link a {
      color: #000;
      transition: all .4s;
      margin: 0 5rem; }
      .footer__link a:hover {
        color: #00609D; }
  .footer__copyright {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    color: #000; }

.header {
  background-color: #EFF2FE; }
  .header .nav__menu {
    list-style: none;
    justify-content: space-between; }
    .header .nav__menu--item {
      background: #EFF2FE;
      width: 15%;
      padding: 1rem 0;
      border-radius: 3px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.8);
      cursor: pointer;
      transition: all .4s; }
      .header .nav__menu--item:hover {
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(255, 255, 255, 0.5); }
      .header .nav__menu--item a {
        padding: 1rem 20%; }
  .header__box {
    position: relative;
    height: 35vh;
    background-color: #004673; }
    .header__box h2 {
      padding-top: 10rem; }
  .header__button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(255, 255, 255, 0.2);
    width: 12%;
    height: 13%;
    text-align: center;
    padding: 1rem;
    border-radius: 3px;
    transition: all .4s; }
    .header__button a {
      font-weight: 500; }
    .header__button:hover {
      background-color: #fff;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.1); }
