.footer {
     background-color: rgba($color-background, .6);
     height: 25vh;
     position: relative;

     &__link {
          @include position;
          
          a {
               color: $color-black;
               transition: all .4s;
               margin: 0 5rem;

               &:hover {
                    color: $color-blue;
               }
          }
     }

     &__copyright {
          font-size: 1.4rem;
          position: absolute;
          bottom: 15%;
          left: 50%;
          transform: translateX(-50%);
          font-weight: 700;
          color: $color-black;
          letter-spacing: .6rem;
     }
}