.header {
     background-color: $color-background;
     position: relative;

     .nav {

          &__menu {
               list-style: none;
               justify-content: space-between;
               
               &--item {
                    background: $color-background;
                    width: 22%;
                    padding: 1rem 0;
                    border-radius: $b-radius;
                    box-shadow: 2px 2px 5px rgba($color-black, .2), -2px -2px 5px rgba($color-white, .8);
                    cursor: pointer;
                    transition: all .4s; 

                    &:hover {
                         background-color: rgba($color-blue, .1);
                         box-shadow: 2px 2px 5px rgba($color-black, .1), -2px -2px 5px rgba($color-white, .5);
                         transform: scale(1.05) translateY(-.5rem);
                    }

                    a {
                         padding: 1rem 20%;

                         @include  responsive(tablet) { 
                              padding: 1rem 0;
                         }  
                    }
               }
          }
     }

     &__box {
          position:relative;
          height: 35vh;
          background-color: $color-primary;

          h2 {
               padding-top: 10rem;
          }
     }

     &__button {
          position: absolute;
          bottom: 20%;
          left: 50%;
          transform: translateX(-50%);
          background-color: rgba($color-white, .85);
          box-shadow: 2px 2px 5px rgba($color-black, .3), -2px -2px 4px rgba($color-white, .2);
          width: 25rem;
          height: 15%;
          text-align: center;
          padding: 1.2rem;
          border-radius: $b-radius;
          transition: all .4s;
          
          a {
               font-weight: 500;
          }

          &:hover {
               background-color: $color-white;
               box-shadow: 2px 2px 5px rgba($color-black, .2), -2px -2px 4px rgba($color-white, .1);
               transform: scale(1.05) translateX(-48%) translateY(-.5rem);
          }
     }

     &__check {
          position: absolute;
          right: 1%;
          top: 1%;
     }
     
}

.checkbox {

     &__toggle {
          justify-content: center;
          align-items: center;
          width: 5rem;
          height: 2rem;
          border: 1px solid $color-blue;
          background: $color-primary;
          border-radius: 50rem;
          position: relative;
          cursor: pointer;
          transition: all .5s ease;

          &::after {
               content: '';
               position: absolute;
               top: 3px;
               right: 3px;
               width: 1.3rem;
               height: 1.3rem;
               border-radius: 50rem;
               background-color: $color-white;
               transition: all .5s ease;
          }

     }
}

#checkbox {
     visibility: hidden;
     height: 0;
     width: 0;
}

#checkbox:checked ~ .checkbox__toggle {
     background-color: $color-white;
     transition: all .5s ease;
}

#checkbox:checked ~ .checkbox__toggle::after{
     left: calc(100% -.5rem);
     transform: translateX(-3rem);
     background-color: $color-primary;
     transition: all .5s ease;
}