@import "./variables";

body {
     font-family: $text-font;
     font-size: 1.8rem;
     font-weight: 400;
}

h1, h2, h3,
h4, h5, h6 {
     color: $color-primary-light;
     text-align: center;
}

a {
     color: $color-primary;
}

p {
     text-align: justify;
}

.heading-primary {
     padding: 5rem 0;
     font-size: 5rem;
}

.heading-secondary {
     color: $color-white;
}