// Colors

$color-primary: #004673;
$color-primary-light: #00609D;

$color-blue: #4AABE8;

$color-background: #EFF2FE;
$color-background-dark: #E3E6EC;

$color-secondary: #39384F;
$color-secondary-dark: #07043A;

$color-white: #fff;
$color-black: #000;

$color-transparent: transparent;

//Fonts

$default-size: 1.8rem; //18px
$small-size: 1.4rem;
$xsmall-size: 1.2rem;
$text-font: 'Red Hat Text', sans-serif;

//Border-radius

$b-radius: 3px;