.avantage {
     color: $color-primary-light;

     &__content {

          &--box {
               justify-content: space-around;
               width:100%;
          }

          &--item {
               border-radius: $b-radius;
               background-color: rgba($color-background, .8);
               padding: 6rem;
               width: 35%;
               outline: none;
               border: none;
               position: relative;
               box-shadow:  4px 3px 1.2rem rgba($color-black, .15), inset 4px 3px 1.4rem rgba($color-white, .6);
               transition: all .4s;

               p {
                    line-height: 2.8rem;
               }

               &:hover {
                    background-color: rgba($color-background, .6);
                    transform: scale(1.05) translateY(-1rem);
                    box-shadow:  4px 3px 1.2rem rgba($color-blue, .15), inset 4px 3px 1.4rem rgba($color-white, .6);
               }
               
               &:before {
                    position: absolute;
                    content: '';
                    height: 0;
                    width: 0;
                    border: 1px solid $color-transparent;
                    bottom: 0;
                    left: 0;
               }

               &:hover:before {
                    width: 100%;
                    height: 100%;
                    border: 1px solid  rgba($color-blue, .3);
                    border-right: none;
                    border-bottom: none;
                    transition: height .5s linear,
                              width .5s linear .5s;
               }

               &:after {
                    position: absolute;
                    content: '';
                    height: 0;
                    width: 0;
                    border: 1px solid $color-transparent;
                    top: 0;
                    right: 0;
               }

               &:hover:after {
                    width: 100%;
                    height: 100%;
                    border: 1px solid rgba($color-blue, .3);
                    border-left: none;
                    border-top: none;
                    transition: height .5s linear,
                              width .5s linear .5s;
               }
     }
}
}