.demo {

     &__banner {
          width: 100%;
          height: 25vh;
          background-color: $color-primary-light;

          h3 {
               padding-top: 9rem;
          }
     }
}