.presentation {
     color: $color-primary-light;

     &__box {
          justify-content: space-between;

          @include  responsive(tablet) { 
               display: block;
          }  
     }

     &__profil {
          width: 20%;
          position: relative;

          @include  responsive(tablet) { 
               margin-bottom: 1rem;
               height: 25vh;
               margin-left: auto;
               margin-right: auto;
          }  

          

          &--container {
               width: 18rem;
               height: 18rem;
               background-color: rgba($color-background, .8);
               border-radius: 50%;
               @include position;
               box-shadow: inset 12px 7px 18px rgba($color-black, .2), inset -8px -9px 6px rgba($color-white, .6);

               @include  responsive(phone) { 
                    width: 12rem;
                    height: 12rem;
               }  
               
               img {
                    width: 70%;
                    @include position;
               }
          }
     }

     &__content {
          width: 66%;
          margin: 1rem 4rem;
          padding: 5rem;
          background-color: rgba($color-background-dark, .4);
          box-shadow: 3px 3px 1.2rem rgba($color-black, .2);

          @include  responsive(tablet) { 
               width: 90%;
               margin: 1rem auto;
               padding: 2.5rem;
          }  
     }
}