.single-page {

     &__info {
          margin-left: auto;
          margin-right: auto;
          width: 50%;
          justify-content: space-evenly;
          color: $color-blue;
          font-size: 1.3rem;

          @include  responsive(tablet) { 
               width: 80%;
          }  
     }

     &__excerpt {
          
          p {
               font-size: 2rem;
               font-weight: 500;
               color: $color-primary;
               text-align: center;

               @include  responsive(tablet) { 
                    font-size: 1.6rem;
                    padding: 1rem;
               }  
          }
     }

     &__img {
          width: 100%;
          
          img {
               width: 60%;
               height: auto;
          }
     }

     &__content {
          color: $color-primary-light;

          p {
               padding-bottom: 2.5rem;

               @include  responsive(tablet) { 
                    padding: 0 1.5rem 1.5rem;
               }  
          }
     }
     
}

.single-categorie {
     &__list {
          a {
          font-size: 2rem;
          transition: all .4s;

          &:hover {
               color: $color-blue;
          }
          }
     }
}